@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Outline&family=Bungee+Inline&family=Bungee+Shade&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html,body{
    padding: 0;
    margin: 0;
}
.container{
    padding: 0;
    margin:0;
}

.container a{
    text-decoration: none;
    color: #000;
}

.segment-first{
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
   /* height: 100vh;*/
    padding: 0 10px 10px 10px;
}

.head-Phrase{
    font-weight: 800;
    color: #0B0B0B;
    font-size:3.5rem;
    font-family: 'Bungee', cursive;
}

.hollow{
				font-family: 'Bungee Outline', cursive;
				color:#0B0B0B;
    font-size:3.5rem;
}
.pop-up{
			font-family: 'Bungee Shade', cursive;
				color:#0B0B0B;
    font-size:3.5rem;	
}

.sub-Phrase{
				font-family: 'Nunito', sans-serif;
				color:#0B0B0B;
				font-weight:800;
				font-size:15px;
				padding:0 25px 25px 0;
}


.first-head-Btn,.second-head-Btn{

    box-sizing: border-box;
    outline: none;
    border:3px solid #0B0B0B;/*#24242B*/
    border-bottom:3px solid #0B0B0B;
    border-radius:7.5px;

    padding:5px 5px;
    
    width:175px;
    height:50px;

    background-color: #fff;
    color:#0B0B0B;
    font-family: 'Bungee Inline', cursive;
    font-weight:400;
    font-size:17px;
    
    transition:0.2s;
}

.btn-bg-chng{
background-color: #0B0B0B;
    color:#fff;
    }
    
.first-head-Btn:active{
font-size:15px;
}

.second-head-Btn:active{
font-size:15px;
}
    
    

.headbar{
				padding:10px 10px 0 10px;
}

.logo{
float:center;
font-family: 'Pacifico', cursive;
font-size:1.5rem;
font-weight:400;
text-align:center;
}




/*.grid{
				display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap:6px;
}*/


