@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Outline&family=Bungee+Inline&family=Bungee+Shade&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html,body {
    padding: 0;
    margin: 0;
}
.container {
    padding: 0;
    margin: 0;
}

.container a {
    text-decoration: none;
    color: #000;
}

.seg{
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    /* height: 100vh;*/
    padding: 0 10px 50px 10px;
}



.head-Phrase {
    font-weight: 800;
    color: #0B0B0B;
    font-size: 3.5rem;
    font-family: 'Bungee', cursive;
}

.sub-seg-head {
    font-weight: 600;
    color: #0B0B0B;
    font-size: 2rem;
    font-family: 'Montserrat', cursive;
}

.hollow {
    font-family: 'Bungee Outline', cursive;
    color: #0B0B0B;
    font-size: 3.5rem;
}
.pop-up {
    font-family: 'Bungee Shade', cursive;
    color: #0B0B0B;
    font-size: 3.5rem;
}

.sub-Phrase{
      font-family: 'Montserrat', sans-serif;
				color:#545454;
				font-weight:600;
				font-size:15px;
				padding:0 25px 25px 0;
}

.sub-seg-phrase {
    font-family: 'Montserrat', sans-serif;
    color: #545454;
    font-weight: 400;
    font-size: 15px;
    padding: 0 25px 25px 0;
}




.first-head-Btn,.second-head-Btn, .topic-Btn {

box-sizing: border-box;
outline: none;
border: 1.5px solid #0B0B0B;
/*#24242B*/
border-bottom: 2.5px solid #0B0B0B;
border-radius: 7.5px;

padding: 5px 5px;

width: 175px;
height: 50px;

background-color: #fff;
color: #0B0B0B;
font-family: 'Bungee Inline', cursive;
font-weight: 400;
font-size: 17px;

transition: 0.2s;
}

.btn-bg-chng {
background-color: #0B0B0B;
color: #fff;
}

.topic-Btn {
width: 135px;
font-size: 12px;
border-bottom: 1.5px solid #0B0B0B;
font-family: 'Montserrat', sans-serif;
transition: 0.2s;
font-weight:900;

}

.topic-Btn:active {
font-size: 10px;
}

.topic-Btn i {
font-size: 19px;
}

.first-head-Btn:active,.second-head-Btn:active {
font-size: 15px;
}



.segment-fourth{
align-items:center;
}

.blk-col{
				display:block;
				padding:7.5px;
}

.appDwn{
display: flex;
  flex-direction: row;
  align-items: center;
  text-align:center;
  width:145px;
  
  border: 2.5px solid #0B0B0B;
  border-bottom: 3.5px solid #0B0B0B;
}

.norm-Btn-Dwn-up-txt, .norm-Btn-Dwn-bld-txt{
			font-family: 'Montserrat', sans-serif;
    color: #0B0B0B;
    font-weight: 400;
    font-size: 11px;	
}
.norm-Btn-Dwn-bld-txt{
    font-weight: 900;
    font-size: 12px;	
}

.seg-four{
font-weight:600;
}



.crd{
padding:15px;
background-color:#fff;
border-radius:15px;
border: 3px solid #0B0B0B;
    border-bottom: 6px solid #0B0B0B;
}

.crd-txt, i{
  font-family: 'Montserrat', sans-serif;
    color: #0B0B0B;
    font-weight: 600;
    font-size: 2rem;	
    text-align:center;  
}
.crd-txt-athr{
font-family: 'Montserrat', sans-serif;
    color: #545454;
    font-weight: 700;
    font-size: 0.9rem;	
    text-align:right;
}


.credit, .credit a{
font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: 600;
    font-size: 0.8rem;	
}



.headbar {
padding: 10px 10px 0 10px;
}

.logo {
float: center;
font-family: 'Pacifico', cursive;
font-size: 1.5rem;
font-weight: 400;
text-align: center;
}




.grid {
display: grid;
grid-template-columns: 1fr 1fr;
grid-row-gap: 10px;

text-align: center;

/*display: flex;
  flex-direction: row;
  align-items: center;*/
}
